<div id="<%= dom_id pet_post %>">
  <p>
    <h5 class="card-title"><%= pet_post.title %></h5>
  </p>
  <p><%= simple_format(pet_post.body) %></p>
  <p class="fw-lighter"><small><%= pet_post.pets_user.email.downcase %></small></p>
  
  <% pet_post.images.each do |image| %>
    <%= image_tag image, class: "img-thumbnail" %>
  <% end %>
  <%= render pet_post.pet_comments %>
  <div class="card my-1">
    <div class="card-body">
      <p class="font-weight-bold">Comments</p>
      <%= bootstrap_form_with(model: [pet_post, pet_post.pet_comments.build]) do |f| %>
        <div class="form-group">
          <%= f.alert_message "Please fix the errors below." %>
          <%= f.text_area :body, class: 'form-control', height: '60px', label: 'Give your comment:' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
