<h1>Cats are the best</h1>
<%= link_to 'Find more', pet_posts_path %>
<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="<%= image_path 'cats1' %>"
      class="shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      style="width: 300px"
    />

    <img
      src="<%= image_path 'cats2' %>"
      class="shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      style="width: 300px"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="<%= image_path 'cats3' %>"
      class="shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      style="width: 300px"
    />

    <img
      src="<%= image_path 'cats4' %>"
      class="shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      style="width: 300px"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="<%= image_path 'cats5' %>"
      class="shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      style="width: 300px"
    />

    <img
      src="<%= image_path 'cats7' %>"
      class="shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      style="width: 300px"
    />
    <img
      src="<%= image_path 'cats8' %>"
      class="shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      style="width: 300px"
    />
  </div>
</div>
<!-- Gallery -->